        <h2>Por favor, evalúe {{ school.name }}</h2>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación del espacio físico:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="espacio_fisico" value="1"/>
                    <input class="star" type="radio" name="espacio_fisico" value="2"/>
                    <input class="star" type="radio" name="espacio_fisico" value="3"/>
                    <input class="star" type="radio" name="espacio_fisico" value="4"/>
                    <input class="star" type="radio" name="espacio_fisico" value="5"/>
                </div>
                
                
            </div>
            <div class="span8">
                <ul>
                    <li>estado de edificaciones</li>
                    <li>estado de patios y áreas verdes</li>
                    <li>estado de salas</li>
                    <li>estado de instalaciones deportivas</li>
                    <li>estado de casino</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación del nivel de seguridad:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="seguridad" value="1"/>
                    <input class="star" type="radio" name="seguridad" value="2"/>
                    <input class="star" type="radio" name="seguridad" value="3"/>
                    <input class="star" type="radio" name="seguridad" value="4"/>
                    <input class="star" type="radio" name="seguridad" value="5"/>
                </div>
                
                
            </div>
            <div class="span8">
                <ul>
                    <li>zonas de seguridad</li>
                    <li>restricciones de acceso</li>
                    <li>sistema contra incendio</li>
                    <li>sistema de vigilancia</li>
                    <li>respuesta del personal a accidentes y emergencias</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación de las instalaciones educativas:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="instalaciones_educativas" value="1"/>
                    <input class="star" type="radio" name="instalaciones_educativas" value="2"/>
                    <input class="star" type="radio" name="instalaciones_educativas" value="3"/>
                    <input class="star" type="radio" name="instalaciones_educativas" value="4"/>
                    <input class="star" type="radio" name="instalaciones_educativas" value="5"/>
                </div>
                
                
            </div>
            <div class="span8">
                <ul>
                    <li>estado de biblioteca</li>
                    <li>estado de laboratorios de ciencias</li>
                    <li>estado de sala de computación</li>
                    <li>estado de sala audiovisual</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación de la organización:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="organizacion" value="1"/>
                    <input class="star" type="radio" name="organizacion" value="2"/>
                    <input class="star" type="radio" name="organizacion" value="3"/>
                    <input class="star" type="radio" name="organizacion" value="4"/>
                    <input class="star" type="radio" name="organizacion" value="5"/>
                </div>
                
                
            </div>
            <div class="span8">
                <ul>
                    <li>nivel de competencia de personal administrativo</li>
                    <li>nivel de competencia de profesores</li>
                    <li>nivel de competencia de personal auxiliar</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación del proceso educativo:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="proceso_educativo" value="1"/>
                    <input class="star" type="radio" name="proceso_educativo" value="2"/>
                    <input class="star" type="radio" name="proceso_educativo" value="3"/>
                    <input class="star" type="radio" name="proceso_educativo" value="4"/>
                    <input class="star" type="radio" name="proceso_educativo" value="5"/>
                </div>
                
                
            </div>
            <div class="span8">
                <ul>
                    <li>cumplimiento de los contenidos mínimos obligatorios</li>
                    <li>actividades extraescolares</li>
                    <li>integración de los apoderados</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación de valores:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="valores" value="1"/>
                    <input class="star" type="radio" name="valores" value="2"/>
                    <input class="star" type="radio" name="valores" value="3"/>
                    <input class="star" type="radio" name="valores" value="4"/>
                    <input class="star" type="radio" name="valores" value="5"/>
                </div>
                
                
            </div>
            <div class="span8">
                <ul>
                    <li>valores éticos y morales</li>
                    <li>solidaridad</li>
                    <li>patriotismo</li>
                    <li>tolerancia intercultural</li>
                    <li>trabajo en equipo</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span7 offset1">
                <h3>Evaluación de otros recursos:</h3>
                <div class="clearfix">
                    <input class="star" type="radio" name="otros_recursos" value="1"/>
                    <input class="star" type="radio" name="otros_recursos" value="2"/>
                    <input class="star" type="radio" name="otros_recursos" value="3"/>
                    <input class="star" type="radio" name="otros_recursos" value="4"/>
                    <input class="star" type="radio" name="otros_recursos" value="5"/>
                </div>
                
            </div>
            <div class="span8">
                <ul>
                    <li>estacionamiento para retirar a los alumnos</li>
                    <li>movilización escolar</li>
                    <li>alimentación</li>
                    <li>servicio médico</li>
                    <li>gabinete psicopedagógico</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <label for="pros" class="clearfix" style="width: 70px"><span class="label success">Pros</span></label>
                <div class="input">
                    <textarea id="pros" class="xlarge" rows="5" name="pros" style="margin-left: 12px;"></textarea>
                    <span class="help-block">Indique las características que Usted considera positivas.</span>
                </div>
            </div>
            <div class="span8">
                <label for="cons" class="clearfix" style="width: 70px"><span class="label warning">Cons</span></label>
                <div class="input">
                    <textarea id="cons" class="xlarge" rows="5" name="pros" style="margin-left: 12px;"></textarea>
                    <span class="help-block">Indique las características que Usted considera negativas.</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="actions">
                <button class="btn primary" type="submit" id="send-rating">Enviar</button>
                Al momento de evaluar o dejar su opinión, por favor, sea lo más objetivo posible.
            </div>
        </div>
        