<?php defined('SYSPATH') or die('No direct script access.');

 /**
 * Configuration for OAuth providers.
 */
return array(
    /**
	 * Twitter applications can be registered at https://twitter.com/apps.
	 * You will be given a "consumer key" and "consumer secret", which must
	 * be provided when making OAuth requests.
	 */
	'twitter' => array(
        'key' => 'IevIjMbsKbM93RL63dTA',
        'secret' => 'uegyJLmtYnihVolH1I20u80WbS3QndKdHrGySSZ7Is'
	),
    
	/**
	 * Github applications can be registered at https://github.com/account/applications/new.
	 * You will be given a "client id" and "client secret", which must
	 * be provided when making OAuth2 requests.
	 */
	// 'github' => array(
	// 	'id' => 'your client id',
	// 	'secret' => 'your client secret'
	// ),
);
